body {
  margin: unset;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 800px;
}

a {
  color: inherit;
  text-decoration: unset;

  &:hover {
    text-decoration: underline;
  }
}
